@use "../../node_modules/normalize.css/normalize";
@use "typography";
@use "container";
@use "header";
@use "footer";
@use "blockquotes";
@use "code";
@use "technology";
@use "analysis";
@use "gallery";
$fa-font-path: "../../shared/fontawesome/webfonts";
@import "../../shared/fontawesome/scss/fontawesome";
@import "../../shared/fontawesome/scss/brands";
@import "../../shared/fontawesome/scss/solid";
@import "../../shared/fontawesome/scss/regular";
