@use 'variables' as *;

body {
  line-height: 1.4;
  color: $main-font-color;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  text-decoration: none;
  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

p {
  font-size: 1.1em;
  margin-bottom: 1.54rem;
}

.main p {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
}
