img,
embed,
object,
video {
    max-width: 100%;
}

.spreadsheet {
    position: relative;
    padding-bottom: 40%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin: 1em 0;
}

.spreadsheet iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

@media (max-width: 700px) {

    .spreadsheet {
        padding-bottom: 60%;
    }
    .spreadsheet iframe {
        transform: scale(0.8);  
        transform-origin: 0 0;
        height: 125%;
        width: 125%;
    }
}