@use "variables" as *;

body {
  list-style: 1.4;
  color: $main-font-color;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  overflow-y: scroll;
}

p {
  font-size: 1.1em;
  margin-bottom: 1.54rem;
}
