$font-color: #000 !default;
$font-alternative-color: #333 !default;
$accent-color: #ed3e49 !default;
$background-color: #fff !default;
$background-alternative-color: #e0fbfc !default;
$body-background-color: #f6f6f6 !default;

$footer-background: #333 !default;
$footer-text-color: #fff !default;

$code-background: #f5f5f5 !default;
$code-border: #ccc !default;
$code-text: #000 !default;

$inline-code-background: #eee !default;

$main-background-color: #fff !default;
$main-font-color: #333 !default;
$nav-mobile-shadow: -4px 0 12px rgba(0, 0, 0, 0.1) !default;
$nav-mobile-border: 1px solid rgba(0, 0, 0, 0.08) !default;
