.box {
    display: grid;
    grid-gap: 1px;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
    border: 1.5px solid red;
}

.footer {
    display: none;
}

.box {
    //background-color: green;
    grid-column: span 2;
}

/* .css {
    order: 1.5px solid purple;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
} */







































































































































