 .landingpage {
    display: grid;
    gap: 1.96rem 1.96rem;
    margin-bottom: 1.96rem;
    grid-template-columns: repeat(2, 1fr);
}


.landingpage h1 {
    //grid-column: 2 / -1;
    //grid-column: span 2;
    //grid-column: 3 / span 2;
   //grid-row: 1 / 3;
    justify-self: center;
  
}

.box {
    /* grid-row: 1 / 3;
    grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: auto;
  grid-template-areas: 
      "header header header header"
      "main main . sidebar"
      "footer footer footer footer"; */
    /* grid-column: 1 / 2;
    grid-row: 2 / 3; */
    //border: 1.5px solid #ccc;
    padding: 1.96rem;
    text-align: center;
    grid-column: span 2;
/*     grid-template-areas: 'top-left top-right' 'bottom bottom'; */
    

}

.css {
    grid-column-start: 2;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 3;
    /* grid-column: 2 / 3;
    grid-row:3 / 4; */
}

/* .html {
    
    border: 1.5px solid #ccc; 
    color: blue;
    flex-grow: 3;

} */

.box:hover {
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
}

.technology {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.technology .article {
    width: 60%;
}

.technology .menu {
    width: 30%;
}

@media (max-width: 600px) {
    .landingpage h1 {
        grid-column: span 1;
        justify-self: center;
    }

    .technology {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }

    .technology .menu {
        display: none;
    }

    .technology .article {
        width: 100%;
    }

    .box {
        border: 5px solid #ccc;
        padding: 1.96rem;
        text-align: center;
        

        .css {
            color: red;
        }
    }

    .box:hover {
        box-shadow: 10px 10px 5px 10px rgba(0, 0, 0, 0.2);
    }
  }
  