body {
  list-style: 1.4;
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Cormorant Garamond", serif; */
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

p {
  font-size: 1.4em;
  margin-bottom: 1.96rem;
}
