$font-color: #000;
$font-alternative-color: #333;
$accent-color: #ed3e49;
$background-color: #fff;
$background-alternative-color: #e0fbfc;
$body-background-color: #f6f6f6;

$footer-background: #333;
$footer-text-color: #fff;

$code-background: #f5f5f5;
$code-border: #ccc;
$code-text: #000;

$inline-code-background: #eee;

$main-background-color: #fff !default;
$main-font-color: #333 !default;